@import 'colors';
@import 'fonts';
@import '../_common';

#Presentation-simple {
    @extend #common-Presentation;
    background: $simple-main-one;

    #nameLogo {
        @extend #common-nameLogo;
        padding: 5px 40px 5px 40px;
    }

    #letsChat {
        text-transform: uppercase;
        font-size: 21px;
        color: $simple-main-two;
        padding: 0 2px 0 4px;
        text-decoration: none;
        border: 4px solid $simple-main-two;
        background-color: $simple-main-one;
    }

    h3 {
        @extend #common-h3;
        font-family: $simple-presentation-h3;
    }

    p {
        @extend #common-p;
        font-family: $simple-presentation-p;
    }

    mark {
        color: $simple-main-one;
        background-color: $simple-main-two;
    }
}