@import 'colors';

.mapBlock {
    a {
        font-size: 10px !important;
    }
    border: 10px solid;
    height: 525px;
    width: 49%;
    bottom: 0;
}

#Map-leftBlock {
    @extend .mapBlock;
    border-color: $main-green;
}

#Map-rightBlock {
    @extend .mapBlock;
    border-color: $main-pink;
}