@import 'colors';
@import 'fonts';

#Presentation {
    background: linear-gradient(to bottom, rgba(23,252,143,1) 0%, #5CCCBE 25%, rgba(220,138,232,1) 40%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#nameLogo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

#mapWrapper {
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

#letsChat {
    text-transform: uppercase;
    font-size: 21px;
    color: $main-green;
    padding: 0 2px 0 4px;
    text-decoration: none;
    border: 4px solid $main-green;
    background-color: $main-pink;
}

h3 {
    /*text-decoration: overline underline double;*/
    font-family: $presentation-h3;
    letter-spacing: 13px;
    font-size: 21px;
    margin-top: 20px;
    color: #444444;
    text-align: center;
}

p {
    font-family: $presentation-p;
    line-height: 24px;
    letter-spacing: 2px;
    font-size: 18px;
    color: #555555;
    text-align: center;
}

mark {
    color: $main-green;
    background-color: $main-pink;
}