.menuButton {
    background-color: transparentize(#ffffff, 1 );
    border: none;
    font-size: 14px;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1;

}

#dropdownContent {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        color: #999999;
        margin: 5px;
        text-decoration: unset
    }
}

.menuButton:hover #dropdownContent {
    display: block;
}

